## PANDAS ASSIGNMENT

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#changing directories of drive
import os

os.chdir("drive/My Drive/Assignment_dataset")

In [3]:
ls

'1.1. CarPrice_Data.csv'    finalized_model.sav          retail.xlsx
 adult.csv                  foo.png                      telecom_churn.csv
 company_sales_data.csv     fruit.csv                    test.csv
'Copy of count_train.csv'   fruit_data_with_colors.txt   train.csv
 diamonds.csv               movies_metadata.csv          weatherAUS.csv

In [7]:
import pandas as pd
data=pd.read_csv('movies_metadata.csv',encoding='latin-1',on_bad_lines='skip')

In [12]:
import pandas as pd
data=pd.read_csv('movies_metadata.csv',error_bad_lines=False,encoding='latin-1')
data.head(10)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 31: expected 24 fields, saw 25\n'

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194

## Task 1
 Write a Pandas program to load the dataframe and get the information from the DataFrame. (Movies_metadata.csv - is the csv file you need to consider for this assignment)

# Task 2
### Perform the below mentioned tasks on movies_metadata.csv dataset


1.   Write a Pandas program to get the details of the third movie in the dataset.
2.  Write a Pandas program to count the number of rows and columns.
3.  Write a Pandas program to get the details of the columns title and genres.
4.  Write a Pandas program to get the details of the movie with title 'Grumpier Old Men.
5.  Write a Pandas program to get the details of  fifth movie.
6.   Write a Pandas program to sort the DataFrame based on release_date. 
7.  Write a Pandas program to access those movies, released after 1995-01-01
8.  Write a Pandas program to sort movies on runtime in descending order.
9.   Write a Pandas program to get those movies whose revenue more than 2 million and budget less than 1 million
10.  Write a Pandas program to get the longest runtime and shortest runtime.
11.  Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.




DataFrame

In [ ]:
data.iloc[2]['original_title']

'Grumpier Old Men'

In [ ]:
data.loc[2]

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: 2, dtype: object

In [ ]:
data[['original_title']]

In [ ]:
data.loc[:,"original_title"]

In [ ]:
data.shape

(49, 24)

In [ ]:
x=data[['original_title','genres']]
x

In [ ]:
data.loc[data['original_title'] == 'Grumpier Old Men']

In [ ]:
data.loc[[5]]

In [18]:
data.sort_values("release_date",ascending= False,inplace=True)
#data

In [ ]:
data

In [ ]:
#data[data['release_date']>"1995-01-01"]
data[(data.release_date > '1995-01-01')]

In [ ]:
import numpy as np
#data[(data.revenue > 2000000) & (data.budget < 1000000) ]
#data[(data['revenue'] > 2000000) & (data['budget'] < 1000000)]
data[np.logical_and(data['budget']<1000000,data['revenue']>2000000)]

In [29]:
print(data.runtime.max())
print(data.runtime.min())

192.0
50.0

In [ ]:
 data.sort_values(by=['release_date'], ascending=False)

In [30]:
d = data[['title', 'runtime']]
d[(d['runtime'] > 30) & (d['runtime'] < 360)]

                             title  runtime
31                Wings of Courage     50.0
34                Dead Man Walking    122.0
39                     Richard III    104.0
41                     Restoration    117.0
30                  Twelve Monkeys    129.0
11     Dracula: Dead and Loving It     88.0
13                           Nixon    192.0
12                           Balto     78.0
14                Cutthroat Island    119.0
8                     Sudden Death    106.0
7                     Tom and Huck     97.0
3                Waiting to Exhale    127.0
2                 Grumpier Old Men    101.0
25                         Othello    123.0
6                          Sabrina    127.0
5                             Heat    170.0
38        Cry, the Beloved Country    106.0
1                          Jumanji    104.0
16           Sense and Sensibility    136.0
17                      Four Rooms     98.0
15                          Casino    178.0
19                     Money Train    103.0
10          The American President    106.0
36                    It Takes Two    101.0
9                        GoldenEye    130.0
18  Ace Ventura: When Nature Calls     90.0
33                      Carrington    121.0
0                        Toy Story     81.0
24               Leaving Las Vegas    112.0
23                          Powder    111.0
21                         Copycat    124.0
20                      Get Shorty    105.0
26                    Now and Then    100.0
35          Across the Sea of Time     51.0
40                 Dead Presidents    119.0
22                       Assassins    132.0
44   How To Make An American Quilt    116.0
27                      Persuasion    104.0
45                           Se7en    127.0
42                   Mortal Kombat    101.0
29                 Dangerous Minds     99.0
37                        Clueless     97.0
48              The Usual Suspects    106.0
32                            Babe     89.0
46                      Pocahontas     81.0
43                      To Die For    106.0
28       The City of Lost Children    108.0
47           When Night Is Falling     96.0
4      Father of the Bride Part II    106.0